<% if @game.player1.name && @game.player2.name %>

<div align="center">
<h1><%=@game.player1.name%> vs <%=@game.player2.name%></h1>
<% if @game.attacked == true %>
<h2><%=@game.other_player.name%> performed an attack!</h2>
<% end %>
<h2><%=@game.current_player.name%>'s turn</h2>
<form action="/attack" method="post">
  <input type = "submit" value = "Attack!"/>
</form>
</div>

<div align="left">
<h1><%=@game.player1.name%> HP: <%=@game.player1.hit_points%></h1>
</div>

<div align="right">
<h1><%=@game.player2.name%> HP: <%=@game.player2.hit_points%> </h1>
</div>
<% end %>
